.text-link {
  color: inherit;
  text-decoration: inherit;
}

div.form-group textarea {
  height: 8em;
}

div.img img {
    height: 300px;
    background: #aaa;
  }

h1 {
	font-size: 57px;
	padding-bottom: 10px;
}

li {
	margin-right: 15px;
}

div.container {
  max-width: 1200px;
}

div.row {
  margin-top: 40px;
}

div.item {
	margin: 5px;
	border: 1px solid #ccc;
	min-height: 270px;
	padding: 10px;
	text-align: left;
	position: relative; 
  box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
  }
 
div.dashDescr {
  text-align: center;
}

 div.desc {
  text-align: left;
  width: auto;
  height: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
div.item:hover {
  border: 1px solid #777;
  }
  
div.item.eventImage {
	float: left;
}
  
div.item img {
	height: 200px;
	float: left;
	padding-bottom: 10px;
	padding-right: 10px;
  }
  
div.detailsbtn {
	padding-bottom: 10px;
}
  
  
  
  div.bigbtn {
  margin: 5px;
  border: 1px solid #ccc;
  width: auto;
  height: 500px;
  background-color: #17A2B8;
  color: white;
  border-radius: 5% / 5%;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 2;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
}

div.bigbtn:hover {
  border: 1px solid #777;
  background-color: #147888;
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}

div.bigbtn-text {
	font-size:60px;
	text-align: center;
	padding-top: 70px;
}

div.longDetails {
  padding-top: 30px;
  font-size: 17px;
  width: auto;
}

iframe.googleMap {
  float: right;
}


p.eventTitle{
  font-size: 3.5em;
  font-weight: initial;
}

div.itemDetails {
	margin: 5px;
	border: 1px solid #ccc;
	width: auto;
	height: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	text-align: left;
	position: relative; 
	box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
  }
 

 div.descDetails {
  text-align: left;
  width: auto;
  height: 180px;
  overflow: hidden;
  text-overflow: ellipsis;  
}

div.itemDetails img {
  height: 200px;
  width: 315px;
	float: left;
	padding-bottom: 10px;
	padding-right: 30px;
  }
  

div.item.eventImageDetails {
  float: left;
}

div.price {
	padding-top: 40px;
	padding-right: 30px;
	float: right;
	color: green;
}
  
div.details {
	padding-top: 40px;
	padding-right: 300px;
}

div.backBtn {
	padding-bottom: 20px;
}

div.itemPrice {
  float: right;
  color: green;
  padding-top: 80px;
  padding-right: 30px;
}

div.priceInDetails{
  color: green;
  float: right;
  margin-top: 40px;
  margin-right: 20px;
  font-size: 3em;
}

img.fixedSizeImg{
  height: 200px;
  width: 295px;
}

div.updateTitle {
  padding-bottom: 50px;
  min-height: 190px;
}

h1.updateEventName {
  color: red;
  float: right;
}

iframe.googleMap {
  padding-bottom: 20px;
}

div.userImage{
  font-size: 100px;
  text-align: center;
  color: #17A2B8;
}

div.userDetails{
  text-align: center;
}

div.myEventsTitle{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

div.myEvents{
  margin-top: 50px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}


/*Mobile view*/
@media only screen and (max-width: 415px){
  
  /*Browse Items component */

  img.fixedSizeImg{
    width: 103%;
  }

  div.itemPrice {
    float: right;
    display: none;
  }

  div.desc {  
    height: 190px;
    width: 99%;
  }

  /*ItemsDetails component */


  div.itemDetails img {
    width: 113%;
    }

  p.eventTitle{
    font-size: 2.7em;
    font-weight: initial;
  }

  div.descDetails {
    text-align: left;
    width: 99%;
    height: auto;
  }

  iframe.googleMap {
    display: none;
  }

  div.priceInDetails{
    display: none;
  }


}